/*
**Contents**
1. Buttons
2. Form
3. Alerts
*/

body {
  font-family: 'Lato', sans-serif;
  background-image: url("img/WebFit_background.png");
}

h3 {
  padding: 20px;
  font-style: italic;
  font-weight: bold;
}

h2 {
  padding: 20px;

}

.top-abstand{
    margin-top: 5%;
}

.code{
    background-color: #f2f2f2;
}

hr {
    margin: 5%;
}

/*1. Buttons*/
 .btn-basic{
   padding-right: 10%;
   padding-left: 10%;
   width: auto;
   text-align: center;
   text-transform: uppercase;
   font-style: italic;
   font-weight: 900;
   font-size: 13pt;
   color: #333333;
   position: relative;
   border: 4px solid transparent;
   border-radius: 25px;
   background: white;
   background-clip: padding-box;
   box-shadow: 2px 2px 8px 1px #d9d9d9;
 }

 .btn-basic::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background: linear-gradient(to right, #9FC9EB, #FF6666, #FFCC66);
    content: '';
    z-index: -1;
    border-radius: 25px;
}

.btn-black{
  padding-right: 10%;
  padding-left: 10%;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 13pt;
  color: #F3F4F5;
  position: relative;
  border: 4px solid transparent;
  border-radius: 25px;
  background: #333;
  background-clip: padding-box;
  box-shadow: 2px 2px 8px 1px #d9d9d9;
}

.btn-black::after {
   position: absolute;
   top: -4px; bottom: -4px;
   left: -4px; right: -4px;
   background: linear-gradient(to right, #9FC9EB, #FF6666, #FFCC66);
   content: '';
   z-index: -1;
   border-radius: 25px;
}

.btn-ghost{
  padding-right: 10%;
  padding-left: 10%;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 13pt;
  color: #333333;
  position: relative;
  background-color:rgba(0, 0, 0, 0.05);
  border: 4px solid transparent;
  border-radius: 25px;
  box-shadow: 2px 2px 8px 1px #d9d9d9;
}

.btn-blueline{
  padding-right: 10%;
  padding-left: 10%;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 13pt;
  color: #333333;
  position: relative;
  background-color: white;
  border: 4px solid;
  border-color: #9FC9EB;
  border-radius: 25px;
  box-shadow: 2px 2px 8px 1px #d9d9d9;
}

.btn-redline{
  padding-right: 10%;
  padding-left: 10%;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 13pt;
  color: #333333;
  position: relative;
  background-color: white;
  border: 4px solid;
  border-color: #FF6666;
  border-radius: 25px;
  box-shadow: 2px 2px 8px 1px #d9d9d9;
}

.btn-orangeline{
  padding-right: 10%;
  padding-left: 10%;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 13pt;
  color: #333333;
  position: relative;
  background-color: white;
  border: 4px solid;
  border-color: #FFCC66;
  border-radius: 25px;
  box-shadow: 2px 2px 8px 1px #d9d9d9;
}

.btn-blackline{
  padding-right: 10%;
  padding-left: 10%;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 13pt;
  color: #333333;
  position: relative;
  background-color: white;
  border: 4px solid;
  border-color: #333333;
  border-radius: 25px;
  box-shadow: 2px 2px 8px 1px #d9d9d9;
}

.btn-whiteline{
  padding-right: 10%;
  padding-left: 10%;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 13pt;
  color: #333333;
  position: relative;
  background-color: white;
  border: 4px solid;
  border-color: #F3F4F5;
  border-radius: 25px;
  box-shadow: 2px 2px 8px 1px #d9d9d9;
}

.btn-round{
  width: 70px;
  height: 70px;
  padding-top: 4%;
  font-weight: 900;
  font-size: 13pt;
  color: #333333;
  position: relative;
  border: 4px solid transparent;
  border-radius: 50%;
  background: white;
  background-clip: padding-box;
  box-shadow: 2px 2px 8px 1px #d9d9d9;
}
.btn-round::after {
   position: absolute;
   top: -4px; bottom: -4px;
   left: -4px; right: -4px;
   background: linear-gradient(to right, #9FC9EB, #FF6666, #FFCC66);
   content: '';
   z-index: -1;
   border-radius: 50%;
 }
/*End Buttons*/


/*2. Form*/
/*Formular-Komponente*/
/*Formular allgemein*/
form {
  padding-left: 20px;
  padding-right: 20px;
  background-position: right top;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
}

#inputState, .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid #333333;
}

input::-webkit-input-placeholder {
  color: #7db9e8 !important;
}

.blue option {
  color: #7db9e8;
}

select {
  border-radius: 0;
}

.form-check {
  display: inline;
}

.form-group {
  display: block;
}

input {
  color: #9FC9EB;
}

.custom-select {
  border-bottom: 1px solid #333333;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

.form-check-label {
  padding-right: 40px;
}

.input-group-text {
  background-color: transparent;
  border-bottom: 1px solid #333333;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

/*Login Formular Icons*/
.input-group-text .fa {
  background: -webkit-linear-gradient(left, #7db9e8 0%, #ff6666 50%, #ffcc66 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*Form-Ende*/

/*3. Alerts*/
.alertgrad {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	position: relative;
	border: 0px solid transparent;
	border-radius: 7px;
	background: white;
	background-clip: padding-box;
	font-family: Lato;
	color: #333333;
}
.alertgrad::after {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: -7px;
	right: 0px;
	background: linear-gradient(to bottom, #9FC9EB, #FF6666, #FFCC66);
	content: '';
	z-index: -1;
	border-radius: 7px;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.18);
}
.alertgrad h3 {
  font-style: normal;
	font-size: 30px;
	font-weight: 700;
	padding: 15px 40px 0px 30px;
}
.alertgrad p {
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
	padding: 0px 30px 10px 30px;
}
/*Blue Alert*/
.alertblue {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	position: relative;
	border: 0px solid transparent;
	border-radius: 7px;
	background: white;
	background-clip: padding-box;
	font-family: Lato;
	color: #333333;
}
.alertblue::after {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: -7px;
	right: 0px;
	background: #9FC9EB;
	content: '';
	z-index: -1;
	border-radius: 7px;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.18);
}
.alertblue h3 {
  font-style: normal;
	font-size: 30px;
	color: #9FC9EB;
	font-weight: 700;
	padding: 15px 40px 0px 30px;
}
.alertblue p {
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
	padding: 0px 30px 10px 30px;
}
/*Yellow Alert*/
.alertyellow {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	position: relative;
	border: 0px solid transparent;
	border-radius: 7px;
	background: white;
	background-clip: padding-box;
	font-family: Lato;
	color: #333333;
}
.alertyellow::after {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: -7px;
	right: 0px;
	background: #FFCC66;
	content: '';
	z-index: -1;
	border-radius: 7px;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.18);
}
.alertyellow h3 {
  font-style: normal;
	font-size: 30px;
	color: #FFCC66;
	font-weight: 700;
	padding: 15px 40px 0px 30px;
}
.alertyellow p {
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
	padding: 0px 30px 10px 30px;
}
/*Red Alert*/
.alertred {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	position: relative;
	border: 0px solid transparent;
	border-radius: 7px;
	background: white;
	background-clip: padding-box;
	font-family: Lato;
	color: #333333;
}
.alertred::after {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: -7px;
	right: 0px;
	background: #FF6666;
	content: '';
	z-index: -1;
	border-radius: 7px;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.18);
}
.alertred h3 {
  font-style: normal;
	font-size: 30px;
	color: #FF6666;
	font-weight: 700;
	padding: 15px 40px 0px 30px;
}
.alertred p {
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
	padding: 0px 30px 10px 30px;
}
/*dark Alert*/
.alertdark {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	position: relative;
	border: 0px solid transparent;
	border-radius: 7px;
	background: white;
	background-clip: padding-box;
  font-family: Lato;
	color: #333333;
}
.alertdark::after {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: -7px;
	right: 0px;
	background: #333333;
	content: '';
	z-index: -1;
	border-radius: 7px;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.18);
}
.alertdark h3 {
  font-style: normal;
	font-size: 30px;
	font-weight: 700;
	padding: 15px 40px 0px 30px;
}
.alertdark p {
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
	padding: 0px 30px 10px 30px;
}
.alertgrad .fa {
  color: #333333;
	position: absolute;
	right: 25px;
	top: 25px;
	font-size: 25px;
}
.alertblue .fa {
  color: #9FC9EB;
  position: absolute;
	right: 25px;
	top: 25px;
	font-size: 25px;
}
.alertyellow .fa {
  color: #FFCC66;
	position: absolute;
	right: 25px;
	top: 25px;
	font-size: 25px;
}
.alertred .fa {
  color: #FF6666;
	position: absolute;
	right: 25px;
	top: 25px;
	font-size: 25px;
}
.alertdark .fa {
  color: #333333;
	position: absolute;
	right: 25px;
	top: 25px;
	font-size: 25px;
}
/*Alerts-Ende*/

/*4. Add Button*/

.add-button {
  position: absolute;
  top: 5em;
  left: 10em;
  width: 56px;
  height: 56px;
  overflow: visible;
  -webkit-transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
    color 0s ease .4s,font-size .2s;
  -moz-transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
    color 0s ease .4s,font-size .2s;
  transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
    color 0s ease .4s,font-size .2s;
  text-align: center;
  line-height: 56px;
  font-size: 28px;
  color: rgba(255,255,255,1);
}

.add-button:before {
  position: relative;
  z-index: 100;
  content:"+";
  color: #333;
}


.sub-button {
  position: absolute;
  display: inline-block;
  background: white;
  background-clip: padding-box;
  color: #333;
  width: 28px;
  height: 28px;
  line-height:48px;
  font-size: 12px;
  /*-webkit-transition: top .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    left .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    bottom .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    right .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    width .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    height .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    transform .1s ease 0s,
    border-radius .2s  ease .2s;
   -moz-transition: top .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    left .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    bottom .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    right .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    width .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    height .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    transform .1s ease 0s,
    border-radius .2s  ease .2s;
   transition: top .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    left .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    bottom .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    right .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    width .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    height .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    transform .1s ease 0s,
    border-radius .2s  ease .2s;*/
}

.sub-button::after {
   position: absolute;
   top: -4px; bottom: -4px;
   left: -4px; right: -4px;
   background: linear-gradient(to right, #9FC9EB, #FF6666, #FFCC66);
   content: '';
   z-index: -1;
   border-radius: 50%;
 }

.tl {
  top: 0;
  left: 0;
  border-radius: 28px 0 0 0;
  color: white;
}

.tr {
  top: 0;
  right: 0;
  border-radius: 0 28px 0 0;
  color: white;
}

.bl {
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 28px;
  color: white;
}

.br {
  bottom: 0;
  right: 0;
  border-radius: 0 0 28px 0;
  color: white;
}


.tl:before {
  content:"A";
}

.tr:before {
  content:"B";
}

.bl:before {
  content:"C";
}

.br:before {
  content:"D";
}


.add-button:hover .sub-button {
  width: 48px;
  height: 48px;

  color: #fff;
  -webkit-transition: top .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    left .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    bottom .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    right .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    width .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    height .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    color .3s ease .8s,
    transform .3s ease .8s,
    border-radius .4s  ease .6s;
   -moz-transition: top .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    left .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    bottom .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    right .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    width .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    height .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    color .3s ease .8s,
    transform .3s ease .8s,
    border-radius .4s  ease .6s;
   transition: top .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    left .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    bottom .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    right .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    width .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    height .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    color .3s ease .8s,
    transform .3s ease .8s,
    border-radius .4s  ease .6s;
}

.add-button:hover .tl {
  top: -25px;
  left: -25px;
  border-radius: 28px;
  color: #333;
}

.add-button:hover .tr {
  top: -25px;
  right: -25px;
  border-radius: 28px;
  color: #333;
}

.add-button:hover .bl {
  bottom: 33px;
  left: -83px;
  border-radius: 28px;
  color: #333;
}

.add-button:hover .br {
  bottom: 33px;
  right: -83px;
  border-radius: 28px;
  color: #333;
}

/*End Add Button*/


/*WebFit Home*/

.graph-box{
    width: 613px;
    height: 392px;
    border-radius: 10px;
    background-color: rgba(243, 244, 245, 0.5);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
 }



/*End WebFit Home*/
